/*variable*/
:root {
    /*colors*/
    --custom_gray: #888;
    --custom_gray_1: #808080;
    --custom_gray_2: #9b9b9b;

    --custom_green: #009245;
    --custom_yellow: #efce4a;
    --custom_red: #ed1c24;

    --custom_white: #ffffff;
    --custom_white_1: #f9f9f9;
    --custom_white_2: #f2f2f2;
    --custom_white_3: #e6e6e6;
    --custom_white_4: #d5d5d5;
    --custom_white_5: #cccccc;
    --custom_white_6: #c9c9c9;
    --custom_white_7: #b3b3b3;

    --custom_black: #000000;
    --custom_black_1: #1a1a1a;
    --custom_black_2: #212121;
    --custom_black_3:#282828;
    --custom_black_4: #323232;
    --custom_black_5: #6b6b6b;
    /*fonts*/
    --first_font_family: "Myriad Pro Regular";
    --second_font_family: "GOTHAM LIGHT";
}

body:not(.theme_dark) {
    --background_main: var(--custom_white);
    --background_header: var(--custom_white);
    --background_theme_panel: var(--custom_white);
    --border_theme_panel: var(--custom_white_3);
    --background_theme_switcher: var(--custom_white);
    --border_theme_switcher: var(--custom_white_6);
    --background_btn_green: var(--custom_green);
    --background_btn_primary: var(--custom_white);
    --background_btn_primary_active: var(--custom_white_3);
    --background_toggler: var(--custom_black_5);
    --background_toggler_active: var(--custom_green);
    --forground_toggler: var(--custom_black_5);
    --forground_toggler_active: var(--custom_green);
    --background_body: var(--custom_white);
    --background_subheader: var(--custom_white_2);
    --border_bottom_subheader: var(--custom_white_6);
    --background_form_control: var(--custom_white_2);
    --border_form_control: var(--custom_gray_2);
    --background_portlet_head: var(--custom_white_3);
    --background_portlet_body: var(--custom_white_2);
    --background_faq_ask: var(--custom_white_2);
    --background_search: var(--custom_white_1);
    --border_search: var(--custom_white_3);
    --background_table: var(--custom_white);
    --background_table_row_odd: var(--custom_white_2);
    --background_table_row_even: var(--custom_white);
    --background_footer_top: var(--custom_white_3);
    --background_footer_bottom: var(--custom_white_5);
    --forground_text_white: var(--custom_white_3);
    --forground_text_normal:  var(--custom_gray_1);
    --forground_text_active:  var(--custom_green);
}

body.theme_dark {
    --background_main: var(--custom_black_2);
    --background_header: var(--background_main);
    --background_theme_panel: var(--custom_black_4);
    --border_theme_panel: var(--custom_black_2);
    --background_theme_switcher: var(--custom_black_4);
    --border_theme_switcher: var(--custom_white_3);
    --background_btn_green: var(--custom_green);
    --background_btn_primary: var(--custom_black_2);
    --background_btn_primary_active: var(--custom_black_4);
    --background_toggler: var(--custom_black_4);
    --background_toggler_active: var(--custom_green);
    --forground_toggler: var(--custom_black_4);
    --forground_toggler_active: var(--custom_green);
    --background_body: var(--custom_black_4);
    --background_subheader: var(--custom_black_4);
    --border_bottom_subheader: var(--custom_black_2);
    --background_form_control: var(--custom_black_4);
    --border_form_control: var(--custom_gray_2);
    --background_portlet_head: var(--custom_black_2);
    --background_portlet_body: var(--custom_black_3);
    --background_faq_ask: var(--custom_black_3);
    --background_search: var(--custom_black_2);
    --border_search: var(--custom_black_2);
    --background_table: var(--custom_black_4);
    --background_table_row_odd: var(--custom_black_2);
    --background_table_row_even: var(--custom_black_3);
    --background_footer_top: var(--custom_black_1);
    --background_footer_bottom: var(--custom_black_2);
    --forground_text_white: var(--custom_white_3);
    --forground_text_normal:  var(--custom_white_7);
    --forground_text_active:  var(--custom_green);
}

.text-normal{
    color : var(--forground_text_normal) !important;
}
.text-green{
    color : var(--custom_green) !important;
}
.text-white{
    color : var(--custom_white) !important;
}
.text-white-1{
    color : var(--custom_white-1) !important;
}
.text-underline{
    text-decoration: inherit !important;
}
.text-underline:hover{
    text-decoration: underline !important;
}
.ft-1{
    font-size: 11pt !important;
}
.ft-2{
    font-size: 12pt !important;
}
.ft-3{
    font-size: 13pt !important;
}
.ft-4{
    font-size: 14pt !important;
}
.ft-5{
    font-size: 15pt !important;
}
.ft-6{
    font-size: 16pt !important;
}
.ft-7{
    font-size: 17pt !important;
}
.ft-8{
    font-size: 18pt !important;
}


/* header */
.kt-header,
.kt-header-mobile,
.kt-header-menu .kt-menu__submenu,
.kt-header-menu-wrapper.kt-header-menu-wrapper--on,
.kt-header-menu-wrapper.kt-header-menu-wrapper--on > .kt-header-menu
{
    background-color: var(--background_header) !important;
}

@media (max-width: 1024px){
    .kt-header__topbar{
        background-color: var(--background_header) !important;
    }
}


.kt-header-menu .kt-menu__nav > .kt-menu__item .kt-menu__link{
    padding: 2px !important;
    align-items: center;
}
.kt-header-menu .kt-menu__nav > .kt-menu__item .kt-menu__link .kt-menu__link-text {
    font-size: 14pt;
    font-family: var(--first_font_family);
    padding: 2px;
}
.kt-header-menu .kt-menu__subnav > .kt-menu__item > .kt-menu__link .kt-menu__link-text {
    font-size: 13pt;
    font-family: var(--first_font_family);
    padding: 2px;
}
.kt-header-menu .kt-menu__nav > .kt-menu__item .kt-menu__link .kt-menu__ver-arrow {
    font-size: 10pt;
    display: block;
    margin-left: 0.5rem;
}
.kt-header-menu .kt-menu__nav > .kt-menu__item > .kt-menu__link .kt-menu__link-text,
.kt-header-menu .kt-menu__nav > .kt-menu__item > .kt-menu__link .kt-menu__ver-arrow,
.kt-header-menu .kt-menu__nav > .kt-menu__item:hover > .kt-menu__link .kt-menu__link-text,
.kt-header-menu .kt-menu__nav > .kt-menu__item:hover > .kt-menu__link .kt-menu__ver-arrow,
.kt-header-menu-wrapper-close > i {
    color: var(--forground_text_active) !important;
}
.kt-header-menu .kt-menu__nav > .kt-menu__item:hover:not(.kt-menu__item--here):not(.kt-menu__item--active) > .kt-menu__link,
.kt-header-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--hover:not(.kt-menu__item--here):not(.kt-menu__item--active) > .kt-menu__link {
    background-color: var(--background_header) !important;
}
.kt-header-menu .kt-menu__nav > .kt-menu__item:hover:not(.kt-menu__item--here):not(.kt-menu__item--active) > .kt-menu__link .kt-menu__link-text,
.kt-header-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--hover:not(.kt-menu__item--here):not(.kt-menu__item--active) > .kt-menu__link .kt-menu__link-text {
    text-decoration: underline;
}
.kt-header-menu .kt-menu__subnav > .kt-menu__item > .kt-menu__link .kt-menu__link-text:hover {
    text-decoration: underline;
}
.kt-header-menu .kt-menu__subnav > .kt-menu__item > .kt-menu__link .kt-menu__link-text {
    color: var(--forground_text_normal) !important;
}
.kt-header-menu .kt-menu__subnav > .kt-menu__item > .kt-menu__link .kt-menu__link-text:hover {
    color: var(--forground_text_active) !important;
}
.kt-header-menu-wrapper-close:hover {
    background-color: var(--custom_black_5);
}
.kt-menu__submenu > .kt-menu__subnav > .kt-menu__item,
.kt-menu__submenu > .kt-menu__subnav > .kt-menu__item:hover,
.kt-menu__submenu > .kt-menu__subnav > .kt-menu__item:focus,
.kt-menu__submenu > .kt-menu__subnav > .kt-menu__item:active,
.kt-menu__submenu > .kt-menu__subnav > .kt-menu__item > .kt-menu__link,
.kt-menu__submenu > .kt-menu__subnav > .kt-menu__item:hover > .kt-menu__link,
.kt-menu__submenu > .kt-menu__subnav > .kt-menu__item:focus > .kt-menu__link,
.kt-menu__submenu > .kt-menu__subnav > .kt-menu__item:active > .kt-menu__link,
.kt-header-menu-mobile .kt-menu__nav > .kt-menu__item.kt-menu__item--open > .kt-menu__heading,
.kt-header-menu-mobile .kt-menu__nav > .kt-menu__item.kt-menu__item--open > .kt-menu__link {
    background-color: var(--background_header) !important;
}

.kt-header .kt-header__topbar-item{
    padding: 0px 5px;
}
.theme_panel {
    width: 65px;
    height: 32px;
    background-color: var(--background_theme_panel) !important;
    border-color: var(--border_theme_panel) !important;
    border-radius: 15px;
    border-width: 2px;
    border-style: solid;
    display: flex;
    position: relative;
    cursor: pointer;
    user-select: none;
}
.theme_style.theme_day {
    background-image: url(icons/day-night.svg);
    background-position: -56px 4px;
    z-index: 1;
    width: 24px;
    height: 24px;
    transition: filter .25s ease;
    /* filter: brightness(1.4); */
    position: absolute;
    left: 2px;
}
.theme_style.theme_night {
    background-image: url(icons/day-night.svg);
    background-position: 5px 5px;
    z-index: 1;
    width: 24px;
    height: 24px;
    transition: filter .25s ease;    
    position: absolute;
    right: 2px;
}
.theme_switcher {
    width: 24px;
    height: 24px;
    background-color: var(--background_theme_switcher) !important;
    border-color: var(--border_theme_switcher);
    border-radius: 100%;
    border-width: 1px;
    border-style: solid;
    position: absolute;
    transition: left .25s ease,background-color .25s;
    top: 2px;
    left: 2px;
    right: auto;
}

.btn.btn-cart{
    color: var(--forground_text_active);
}
.btn-cart>i {
    font-size: 24pt !important;
}
.btn-cart>span {
    position: absolute;
    border-radius: 100%;
    width: 18px;
    height: 18px;
    font-size: 14px;
    color: var(--forground_text_active);
    line-height: 18px;
    text-align: center;
    top: 7px;
    right: 7px;
    background-color: var(--custom_white);
    box-shadow: 0px 2px var(--custom_white_3);
}
.btn.btn-checkout{
    color: var(--forground_text_white);
    background-color: var(--custom_green);
}
.btn.btn-login>a,
.btn.btn-login>a:active,
.btn.btn-login>a:focus,
.btn.btn-login>a:hover{
    color: var(--forground_text_active);
}
.btn.btn-signup{
    color: var(--forground_text_white);
    background-color: var(--background_btn_green);
    font-size: 14pt;
    font-family: var(--first_font_family);
    padding: 5px 20px;
}
.btn.btn-login>a{
    font-size: 14pt;
    font-family: var(--first_font_family);
}
.btn.btn-login>a:hover, .btn.btn-login>a:focus{
    color : var(--forground_text_active);
    text-decoration: underline !important;
}

div.user-account.dropdown-menu{
    padding: 5px 0px 0px 0px;
}
div.user-account.dropdown-menu>a.dropdown-item{
    padding: 2px 15px;
    font-size: 11pt;
    font-family: var(--first_font_family);
    color : var(--forground_text_normal);
    cursor: pointer;
}
div.user-account.dropdown-menu>a.dropdown-item:active,
div.user-account.dropdown-menu>a.dropdown-item:focus,
div.user-account.dropdown-menu>a.dropdown-item:hover{
    text-decoration: underline !important;
    color: var(--forground_text_active);
    background-color: var(--custom_white) !important;
}
.kt-mycart .kt-mycart__head .kt-mycart__info .kt-mycart__title,
.kt-mycart .kt-mycart__body .kt-mycart__section .kt-mycart__subtitle{
    color: var(--custom_green);
}
.kt-mycart .kt-mycart__body .kt-mycart__section .kt-mycart__price{
    color: var(--normal_text_col);
}
.kt-mycart .kt-mycart__body .kt-mycart__section .update-cart{
    color: var(--normal_text_col);
}

.mycart-menu.dropdown-menu {
    width: 300px;
}
.kt-mycart .kt-mycart__head .kt-mycart__info .kt-mycart__title{
    font-size:14pt;
    font-family: var(--first_font_family);
}
.kt-mycart .kt-mycart__body .kt-mycart__section .kt-mycart__item{
    background-color: #eee;
    border: none;
    font-size:12pt;
    font-family: var(--first_font_family);
    display: flex;
}
.kt-mycart .kt-mycart__body .kt-mycart__section .kt-mycart__subtitle,
.kt-mycart .kt-mycart__body .kt-mycart__section .update-cart{
    font-size:11pt;
    font-family: var(--first_font_family);
}

.kt-mycart .kt-mycart__body .kt-mycart__section .update-cart{
    position: absolute;
    right: 0;
}
.kt-mycart .kt-mycart__body .kt-mycart__section .kt-mycart__price span{
    font-size:11pt;
    font-family: var(--first_font_family);
}
.kt-header-mobile .kt-header-mobile__toolbar .kt-header-mobile__toolbar-toggler span,
.kt-header-mobile .kt-header-mobile__toolbar .kt-header-mobile__toolbar-toggler span::before,
.kt-header-mobile .kt-header-mobile__toolbar .kt-header-mobile__toolbar-toggler span::after {
    background-color: var(--background_toggler) !important;
}
.kt-header-mobile .kt-header-mobile__toolbar .kt-header-mobile__toolbar-toggler:hover span,
.kt-header-mobile .kt-header-mobile__toolbar .kt-header-mobile__toolbar-toggler:hover span::before,
.kt-header-mobile .kt-header-mobile__toolbar .kt-header-mobile__toolbar-toggler:hover span::after,
.kt-header-mobile .kt-header-mobile__toolbar .kt-header-mobile__toolbar-toggler.kt-header-mobile__toolbar-toggler--active span,
.kt-header-mobile .kt-header-mobile__toolbar .kt-header-mobile__toolbar-toggler.kt-header-mobile__toolbar-toggler--active span::before,
.kt-header-mobile .kt-header-mobile__toolbar .kt-header-mobile__toolbar-toggler.kt-header-mobile__toolbar-toggler--active span::after {
    background-color: var(--background_toggler_active) !important;
}
.kt-header-mobile .kt-header-mobile__toolbar .kt-header-mobile__toolbar-topbar-toggler i {
    color: var(--forground_toggler) !important;
}
.kt-header-mobile .kt-header-mobile__toolbar .kt-header-mobile__toolbar-topbar-toggler.kt-header-mobile__toolbar-topbar-toggler--active i,
.kt-header-mobile .kt-header-mobile__toolbar .kt-header-mobile__toolbar-topbar-toggler:hover i {
    color: var(--forground_toggler_active) !important;
}
.kt-header-menu-wrapper-close{
    background-color: var(--background_btn_primary) !important;
}
.kt-header-menu-wrapper-close:hover {
    background-color: var(--background_btn_primary_active) !important;
}
.kt-header-menu-wrapper--on .kt-header-menu-wrapper-close {
    left: 240px;
}

/* for footer */
.kt-footer .kt-footer__top a,
.kt-footer .kt-footer__bottom a,
.kt-footer .kt-footer__bottom span{
    font-size: 11pt;
    font-family: var(--first_font_family);
    color: var(--forground_text_active) !important;
}
.kt-footer a:hover {
    text-decoration: underline !important;
}
.kt-footer .kt-footer__top {
    background-color: var(--background_footer_top) !important;
}
.kt-footer .kt-footer__top a:hover {
    color: var(--forground_text_active) !important;
}
.kt-footer .kt-footer__bottom {
    background-color: var(--background_footer_bottom) !important;
}
.kt-footer .kt-footer__bottom a{
    color: var(--forground_text_normal) !important;
}
.kt-footer .kt-footer__bottom a:hover {
    color: var(--forground_text_active) !important;
    cursor: pointer;
}
.kt-footer .kt-footer__bottom span{
    color: var(--forground_text_normal) !important;
}

/* sub header */
.kt-body{
    background: var(--background_body) !important;
}
.kt-subheader {
    margin: 0px;
    padding: 30px 0px 10px 0px;
    background: var(--background_subheader) !important;
    border-bottom: var(--border_bottom_subheader) solid 1px !important;
}
.kt-subheader .kt-subheader__main {
    margin: auto;
    display: block;
    width: 100%;
}
.kt-subheader .kt-subheader__main .kt-subheader__title {
    font-size: 20pt;
    color: var(--forground_text_active) !important;
    padding: 5px;
    text-align: center;
    display: block;
}
.kt-subheader .kt-subheader__main .kt-subheader__desc {
    font-size: 13pt;
    color: var(--forground_text_normal) !important;
    padding: 5px;
    text-align: center;
}
.kt-subheader .kt-subheader__footer {
    display: block;
    color: var(--forground_text_active);
    font-size: 11pt;
}
.kt-footer .form-control{
    color: var(--forground_text_normal) !important;
    font-size: 11pt;
    background-color: var(--background_form_control) !important;
    border-color: var(--border_form_control) !important;
}

/* body */
.form-group .form-control-label,
.form-group .col-form-label,
.form-group .kt-checkbox{
    color: var(--forground_text_normal) !important;
    font-size: 11pt;
}
.form-group .form-control{
    color: var(--forground_text_normal) !important;
    font-size: 11pt;
    background-color: var(--background_form_control) !important;
    border-color: var(--border_form_control) !important;
}
.form-group .btn-form{
    color: var(--forground_text_white) !important;
    background-color: var(--background_btn_green) !important;
    padding: 10px 30px;
}
.form-group .bootstrap-select .btn {
    color: var(--forground_text_normal) !important;
    font-size: 11pt;
    background-color: var(--background_form_control) !important;
    border-color: var(--border_form_control) !important;
}
.form-group .bootstrap-select .dropdown-menu {
    color: var(--forground_text_normal) !important;
    font-size: 11pt;
    background-color: var(--background_portlet_head) !important;
    border-color: var(--border_form_control) !important;
}
.form-group .bootstrap-select .dropdown-menu ul>li:hover,
.form-group .bootstrap-select .dropdown-menu ul>li:focus,
.form-group .bootstrap-select .dropdown-menu ul>li:active,
.form-group .bootstrap-select .dropdown-menu ul>li.selected,
.form-group .bootstrap-select .dropdown-menu ul>li>a:hover,
.form-group .bootstrap-select .dropdown-menu ul>li>a:focus,
.form-group .bootstrap-select .dropdown-menu ul>li>a:active,
.form-group .bootstrap-select .dropdown-menu ul>li.selected>a {
    color: var(--forground_text_normal) !important;
    font-size: 11pt;
    background-color: var(--background_form-control) !important;
    border-color: var(--border_form_control) !important;
}
.invalid-feedback {
    color: var(--custom_red) !important;
    font-size: 10pt;
}
.kt-section .kt-section__title{
    font-size: 16pt;
    color: var(--forground_text_active) !important;
    padding: 5px;
}
.kt-section .kt-section__content{
    font-size: 12pt;
    color: var(--forground_text_normal) !important;
    padding: 2px;
}
.kt-portlet .kt-portlet__head{
    font-size: 16pt;
    color: var(--forground_text_active) !important;
    background-color: var(--background_portlet_head) !important;
    border: none;
}
.kt-portlet .kt-portlet__head .kt-portlet__head-title {
    font-size: 16pt;
    color: var(--forground_text_active) !important;
    background-color: var(--background_portlet_head) !important;
}
.kt-portlet .kt-portlet__body{
    font-size: 12pt;
    color: var(--forground_text_normal) !important;
    background-color: var(--background_portlet_body) !important;
    border-radius: 0px;
}
.kt-portlet .kt-portlet__head .btn,
.kt-portlet .kt-portlet__head .btn:hover,
.kt-portlet .kt-portlet__head .btn:focus, 
.kt-portlet .kt-portlet__head .btn:active {
    background-color: var(--background_portlet_head) !important;
}
.kt-portlet .kt-portlet__head .btn .portlet_controler,
.kt-portlet .kt-portlet__head .btn .portlet_controler:hover,
.kt-portlet .kt-portlet__head .btn .portlet_controler:focus,
.kt-portlet .kt-portlet__head .btn .portlet_controler:active {
    font-size: 20pt;
    color: var(--forground_text_normal) !important;
    background-color: var(--background_portlet_head) !important;
}
.kt-section.faq-ask{
    background-color: var(--background_faq_ask) !important;
}

.kt-mycart.checkout{
    background-color: var(--background_form_control) !important;
    border: var(--border_form_control) solid 1px !important;
}

.kt-mycart.checkout .kt-mycart__head{
    padding: 10px;
    color: var(--forground_text_active) !important;
}

.kt-mycart.checkout .kt-mycart__head .kt-mycart__info .kt-mycart__title {
    font-size: 18pt;
}

.kt-mycart.checkout .kt-mycart__body .kt-mycart__item {
    font-size: 13pt;
    color: var(--forground_text_normal) !important;
    background: var(--background_btn_primary) !important;
    border: var(--border_form_control) solid 1px !important;
}

.kt-mycart.checkout .kt-mycart__body .kt-mycart__section .form-group .col-form-label {
    color: var(--forground_text_active) !important;
}

.kt-mycart.chckout .kt-mycart__body .kt-mycart__section input {
    background: var(--background_btn_primary) !important;
    border: var(--border_form_control) solid 1px !important;
}

.dashed-hr {
    border: dashed 1px;
}

.kt-container.search-container {
    background-color: var(--background_search) !important;
    border: var(--border_search) solid 1px !important;
}

#searchForm .form-group .form-control-label,
#searchForm .form-group .col-form-label {
    color: var(--forground_text_active) !important;
    font-size: 12pt;
}
.btn.btn-search {
    background-color: var(--background_btn_green) !important;
    color: var(--forground_text_white) !important;
}
.btn.btn-loadmore {
    background: var(--background_btn_green) !important;
    color: var(--forground_text_white) !important;
    font-size: 11pt;
    padding: 10px 20px;
}

/* for table */
.kt-datatable__table {
    background: var(--background_table) !important;
}
.kt-datatable__table .kt-datatable__head {
    border-bottom: 8px solid var(--custom_green) !important;
}
.kt-datatable__table .kt-datatable__head .kt-datatable__row {
    border:none !important;
}
.kt-datatable__table .kt-datatable__body .kt-datatable__row {
    border:none !important;
    margin: 20px 0px !important;
}
.kt-datatable__table .kt-datatable__body .kt-datatable__row .kt-datatable__cell {
    padding-top: 30px !important;    
    padding-bottom: 30px !important;
}
.kt-datatable.kt-datatable--default > .kt-datatable__table > .kt-datatable__body .kt-datatable__row.kt-datatable__row--active > .kt-datatable__cell {
    background: none;
}
.kt-datatable__table .kt-datatable__head th>span{
    color: var(--forground_text_active) !important;
    font-weight: bolder;
}
.kt-datatable__body tr:nth-child(odd) {
    background-color: var(--background_table_row_odd) !important;
}
.kt-datatable__body tr:nth-child(even) {
    background-color: var(--background_table_row_even) !important;
}
.kt-datatable__cell .la.la-star{
    color : var(--custom_yellow) !important;
}
.viewsample {
    color: var(--custom_green);
    text-decoration: underline;
}
.btn.btn-addtocart{
    color: var(--custom_white);
    background-color: var(--custom_green);
}
.kt-datatable__cell .flaticon2-sort {
    color: var(--custom_green) !important;
}